/*
        scalerow.scss and scalerow.css
        
        Copyright 2012 Al Pagan <generamics@gmail.com>
        
        This program is free software; you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation; either version 2 of the License, or
        (at your option) any later version.
        
        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.
        
        You should have received a copy of the GNU General Public License
        along with this program; if not, write to the Free Software
        Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
        MA 02110-1301, USA.
        
        
*/
/* line 26, ../sass/scalerow.scss */
.scalerow {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}
/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.scalerow li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
}
/* line 30, ../sass/scalerow.scss */
.scalerow .scalerow-wrapper {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 36, ../sass/scalerow.scss */
.scalerow .scalerow-item-wrapper {
  display: block;
  position: absolute;
  float: none;
  margin: 0;
  padding: 0;
}
